.urdu{
          font-family: jameel noori nastaleeq !important;
          cursor: auto  !important;
}
.arabic{
          font-family:NHuda !important;
          font-weight: 550 !important;
}
.arabic1{
          font-family:Attari_Quran, _PDMS_Saleem_QuranFont !important;
          font-weight: 550 !important;
          font-style: bold;
}
.primary-5{
          background-color: var(--clr-primary-5);
          color: var(--clr-white);
}