.profile-dropdown-box{
          position: absolute;
          width: 200px;
          overflow: hidden;
          background: var(--black-transparent);
          top: 75px;
          right: 20px;
          padding: 20px;
          max-height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transition: all 700ms ease-in-out;
          img{
                    width: 60px !important;
                    height: 60px !important;

          }
          p{
                    margin: 0;
          }
}
.closed{
          max-height: 0;
          padding: 0;
}